:root {
    --Blue_950: hsl(213, 96%, 18%);
    --Purple_600: hsl(243, 100%, 62%);
    --Blue_300: hsl(228, 100%, 84%);
    --Blue_200: hsl(206, 94%, 87%);
    --Red_500: hsl(354, 84%, 57%);
    --Grey_500: hsl(231, 11%, 63%);
    --Purple_200: hsl(229, 24%, 87%);
    --Blue_100: hsl(218, 100%, 97%);
    --Blue_50: hsl(231, 100%, 99%);
    --White: hsl(0, 100%, 100%);
}
* {
    margin: 0;
    padding: 0;
}
body {
    margin: auto;
    background-color: var(--Blue_100);
    height: 100vh;
}
@font-face {
    font-family: "bold";
    src: url("../assets/fonts/Ubuntu-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "med";
    src: url("../assets/fonts/Ubuntu-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "reg";
    src: url("../assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}
.form {
    height: 600px;
    max-width: 950px;
    margin: 20px auto;
    padding: 25px;
    display: flex;
    background-color: var(--White);
    border-radius: 6px;
}
.sidebar {
    background-image: url(../assets/images/bg-sidebar-desktop.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 210px;
    color: var(--White);
    padding: 50px 30px;
    border-radius: 6px;
}
.sidebar .ste {
    margin-bottom: 30px;
    position: relative;
    width: 165px;
    height: 40px;
}
.sidebar p {
    position: absolute;
    left: 48px;
    top: 13px;
    font-family: "med";
}
.sidebar p span {
    color: var(--Grey_500);
    position: absolute;
    margin-top: -15px;
    font-size: 14px
}
.sidebar .circ {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid var(--White);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: "bold", sans-serif;
}
.sidebar .active {
    color: black;
    background-color: var(--Blue_200);
}
.container {
    width: 450px;
    margin: 0 auto;
    display: grid;
}
.step {
    flex: 1;
    margin: 45px 0;
}
.step h1 {
    font-family: "bold";
    color: var(--Blue_950);
}
.step p {
    color: var(--Grey_500);
    font-family: "reg";
    margin: 16px 0 48px;
}
#step1 input {
    all: unset;
    border-radius: 7px;
    height: 45px;
    margin-bottom: 25px;
    border: 1px solid var(--Grey_500);
    color: var(--Blue_950);
    padding: 0 15px;
    font-size: 16px;
    font-family: "bold";
}
#step1 input:hover {
    cursor: pointer;
    border: 1px solid var(--Purple_600);
}
#step1 input:focus-visible {
    border: 1.5px solid var(--Purple_600)!important ;
}
#step1 input::placeholder {
    font-size: 16px;
    color: var(--Grey_500);
}
#step1 h2 {
    font-family: "reg";
    color: var(--Blue_950);
    font-size: 14px;
    margin-bottom: 10px;
}
#step1 button {
    all: unset;
    cursor: pointer;
    background-color: var(--Blue_950);
    color: var(--Blue_100);
    padding: 10px 15px;
    border-radius: 8px;
    width: 75px;
    text-align: center;
    height: 25px;
    font-family: "med";
    font-size: 15px;
    margin-left: auto;
    margin-top: 60px
}
